{% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}
  
      <!-- Main Content -->
      <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">Serrures</li>
                                    <h3></h3>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                      <div class="padding-20">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#acces_bluetooth" role="tab"
                              aria-selected="true">Acces par bluetooth</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#acces_code" role="tab"
                              aria-selected="false">Acces par code</a>
                          </li>
                           <li class="nav-item">
                            <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#acces_carte" role="tab"
                              aria-selected="false">Acces par carte</a>
                          </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                          <div class="tab-pane fade show active" id="acces_bluetooth" role="tabpanel" aria-labelledby="acces_bluetooth">
                          
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Nom de la serrure</th>
                                        <th>Adresse MAC</th>
                                        <th>Auto lock time</th>
                            
                                        <th>Status</th>
                                        <th>Pourcentage des piles</th>
                                        <th>Action</th>
                                    </tr> 
                                    </thead>
                                    <tbody>
                                    {% for store_lock in locks %}
                                        {% if store_lock.user.id == request.user.myuser.id %}
                                    <tr>
                                        <td>{{store_lock.lock_name}}</td>
                                        <td>{{store_lock.lock_mac}}</td>
                                        <td>{{store_lock.auto_lock_time}}</td>
                                        <td>{{store_lock.lock_status}}</td>
                                        <td>{{store_lock.lock_percent}}%</td>
                                        <td>
                                            <a class="btn btn-outline-success" href="{% url 'details'  %}" title="details">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-outline-danger" href="#" title="delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <a class="btn btn-outline-primary" href="#" title="delete">
                                                View accesses
                                            </a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="tab-pane fade " id="acces_code" role="tabpanel" aria-labelledby="acces_code">
                          
                              <div class="table-responsive">
                                  <table class="table table-striped" id="table-2">
                                      <thead>
                                      <tr>
                                          <th>Nom de serrure</th>
                                          <th>Adresse MAC</th>
                                          <th>Auto lock time</th>
                              
                                          <th>Status</th>
                                          <th>Pourcentage des piles</th>
                                          <th>Action</th>
                                      </tr> 
                                      </thead>
                                      <tbody>
                                      {% for store_lock in locks %}
                                          {% if store_lock.user.id == request.user.myuser.id %}
                                      <tr>
                                          <td>{{store_lock.lock_name}}</td>
                                          <td>{{store_lock.lock_mac}}</td>
                                          <td>{{store_lock.auto_lock_time}}</td>
                                          <td>{{store_lock.lock_status}}</td>
                                          <td>{{store_lock.lock_percent}}%</td>
                                          <td>
                                              <a class="btn btn-outline-success" href="{% url 'details'  %}" title="details">
                                                  <i class="fas fa-edit"></i>
                                              </a>
                                              <a class="btn btn-outline-danger" href="#" title="delete">
                                                  <i class="fas fa-trash-alt"></i>
                                              </a>
                                              <a class="btn btn-outline-primary" href="#" title="delete">
                                                  View accesses
                                              </a>
                                          </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                              </div>



                                 <div class="tab-pane fade " id="acces_carte" role="tabpanel" aria-labelledby="acces_carte">
                          
                              <div class="table-responsive">
                                  <table class="table table-striped" id="table-2">
                                      <thead>
                                      <tr>
                                          <th>Nom de serrure</th>
                                          <th>Adresse MAC</th>
                                          <th>Auto lock time</th>
                              
                                          <th>Status</th>
                                          <th>Pourcentage des piles</th>
                                          <th>Action</th>
                                      </tr> 
                                      </thead>
                                      <tbody>
                                      {% for store_lock in locks %}
                                          {% if store_lock.user.id == request.user.myuser.id %}
                                      <tr>
                                          <td>{{store_lock.lock_name}}</td>
                                          <td>{{store_lock.lock_mac}}</td>
                                          <td>{{store_lock.auto_lock_time}}</td>
                                          <td>{{store_lock.lock_status}}</td>
                                          <td>{{store_lock.lock_percent}}%</td>
                                          <td>
                                              <a class="btn btn-outline-success" href="{% url 'details'  %}" title="details">
                                                  <i class="fas fa-edit"></i>
                                              </a>
                                              <a class="btn btn-outline-danger" href="#" title="delete">
                                                  <i class="fas fa-trash-alt"></i>
                                              </a>
                                              <a class="btn btn-outline-primary" href="#" title="delete">
                                                  View accesses
                                              </a>
                                          </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                              </div>



                              </div>
                              
                  </div>
                </div>
              </div>
            </div>
       </div>
     </section>

{% endblock content %}
  