{% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"></a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Liste des Pièces</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4></h4>
                        <div class="float-right">
                            <a href="{% url 'create_room'  %}" class="btn btn-primary">Ajouter</a>
                        </div>
                    </div>
                    {% include 'messages.html' %}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-2">
                                <thead>
                                <tr>
                                    
                                    <th>Nom de la piece</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                {% for store_room in rooms %}
                                <tr>
                                    
                                    <td>{{store_room.room_name}}</td>
                                    <td>{{store_room.description}}</td>
                                    <td>
                                        
                                        <a class="btn btn-outline-danger" href="{% url 'update_room' store_room.id_room %}" title="edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" href="{% url 'delete_room' store_room.id_room %}" title="delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
