{% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">Bluetooth</li>
                                </ol>
                            </nav>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-right">
                                <a href="{% url 'create_bluetooth'  %}" class="btn btn-primary">Ajouter</a>
                            </div>
                        </div>
                        {% include 'messages.html' %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-2">
                                    <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Date de debut</th>
                                        <th>Date de fin</th>
                                        <th>is set</th>
                                        <th>Utilisateur</th>
                                        <th>Serrures</th>
                                        <th>Action</th>
                                    </tr> 
                                    </thead>
                                    <tbody>
                                    {% for store_bluetooth in bluetooths %}
                                    <tr>
                                        <td>{{store_bluetooth.description}}</td>
                                        <td>{{store_bluetooth.start_date}}</td>
                                        <td>{{store_bluetooth.end_date}}</td>
                                        <td>{{store_bluetooth.is_set}}</td>
                                        <td>{{store_bluetooth.user.user.username}}</td>
                                        <td>{{store_bluetooth.lock.lock_name}}</td>
                                        <td>
                                            <a class="btn btn-outline-success" href="{% url 'update_bluetooth' store_bluetooth.id %}" title="edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-outline-danger" href="{% url 'delete_bluetooth' store_bluetooth.id %}" title="delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
