<!-- {% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'view_history'  %}">Historique</a></li>
                                <li class="breadcrumb-item active" aria-current="page">add history</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <a href="{% url 'view_history'  %}" class="btn btn-primary">back</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'create_history' %}" method="POST">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label>Action</label>
                                    <select class="form-control select2" name="action_id" required>
                                        {% for store_action in actions %}
                                            <option value="{{store_action.id}}">{{store_action.username }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label>Day</label>
                                    <select class="form-control select2" name="day_id" required>
                                        {% for store_day in days %}
                                            <option value="{{store_day.id_day}}">{{store_day.day_name }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %} -->
