{% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'view_card'  %}">Cards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">add card</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <a href="{% url 'view_card'  %}" class="btn btn-primary">back</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'create_card' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                    <label>carte</label>
                                    <input type="text" name="card" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="description" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Date de debut</label>
                                    <input type="text" name="start_date" class="form-control" required>
                                </div>

                                <!-- <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <label>Date de debut</label>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label>Date de fin</label>
                                    <input type="text" name="end_date" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>is set</label>
                                    <input type="text" name="is_set" class="form-control" required>
                                </div>
                                 <div class="form-group">
                                    <label>Utilisateur</label>
                                    <select class="form-control select2" name="user_id" required>
                                        {% for store_myuser in myusers %}
                                            <option value="{{store_myuser.id}}">{{store_myuser.user.username }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label>Serrure</label>
                                    <select class="form-control select2" name="lock_id" required>
                                        {% for store_lock in locks %}
                                            <option value="{{store_lock.id_lock}}">{{store_lock.lock_name }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
