{% extends 'layouts/backofffice.html' %}
{% load static %}
{% block content %}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">dashboard</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'view_day'  %}">days</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Modify days</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <a href="{% url 'view_day'  %}" class="btn btn-primary">back</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'update_day' day.id_day %}" method="POST">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label>Nom du Jour</label>
                                <input type="text" name="day_name" value="{{day.day_name}}" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success">update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}