{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    
    <title> Dashboard|| Lockify </title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'backend/assets/css/app.min.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'backend/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/bundles/izitoast/css/iziToast.min.css')}}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'backend/assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'backend/assets/bundles/select2/dist/css/select2.min.css' %}">

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'backend/assets/img/favicon.jpg'%}">
    
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar sticky">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
                    <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i data-feather="maximize"></i>
                        </a></li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle">
                    <a href="#" data-toggle="dropdown"
                       class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                        <span class="badge headerBadge1">
                6 </span> </a>
                <li class="dropdown dropdown-list-toggle">
                    <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
                        <i data-feather="bell" class="bell"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/" data-toggle="dropdown"
                                        class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" src="{% static 'backend/assets/img/user.png' %}" class="user-img-radious-style">
                        <span class="d-sm-none d-lg-inline-block"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pullDown">
                        <div class="dropdown-title"></div>
                        <a href="#" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
                        </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                            Activities
                        </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="/"> <img alt="image" src="{% static 'backend/assets/img/logo.png' %}" class="header-logo" /> <span
                            class="logo-name">Lockify</span>
                    </a>
                </div>
                
                <ul class="sidebar-menu">
                        <li class="menu-header"></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link"><i data-feather="monitor"></i><span>dashboard</span></a>
                        </li>
                    </ul>
                    <ul class="sidebar-menu">
                        <li class="menu-header"></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link"><i data-feather="users"></i><span>Utilisateurs</span></a>
                        </li>
                    </ul>
                    <ul class="sidebar-menu">
                        <li class="menu-header">reglage</li>
                        <li class="dropdown ">
                            <a href="#" class="nav-link">
                                <i data-feather="server"></i><span>Banniere</span></a>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="nav-link">
                                <i data-feather="server"></i><span>Serrure</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link">
                                <i data-feather="server"></i><span>Produits</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link">
                                <i data-feather="server"></i><span>Commandes</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'view_room'  %}" class="nav-link">
                                <i data-feather="server"></i><span>Pièces</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'view_day'  %}" class="nav-link">
                                <i data-feather="server"></i><span>Days</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'view_role'  %}" class="nav-link">
                                <i data-feather="server"></i><span>Roles</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'view_user'  %}" class="nav-link">
                                <i data-feather="server"></i><span>Users</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link">
                                <i data-feather="server"></i><span>Historique</span></a>
                        </li>
                    </ul>
                
                   
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            {% block content %} {% endblock content %}
        </div>

        <footer class="main-footer">
            <div class="footer-left">
                <a href="/">Lockify</a></a>
            </div>
            <div class="footer-right">
                App for Lock
            </div>
        </footer>
    </div>
</div>
<!-- General JS Scripts -->
<script src="{% static 'backend/assets/js/app.min.js' %}"></script>
<!-- JS Libraies -->
<script src="{% static 'backend/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'backend/assets/js/page/index.js' %}"></script>
<!-- Template JS File -->
<script src="{% static 'backend/assets/js/scripts.js' %}"></script>
<!-- Custom JS File -->
<script src="{% static 'backend/assets/js/custom.js' %}"></script>
<script src="{% static 'backend/assets/js/page/toastr.js' %}"></script>
<script src="{% static 'backend/assets/bundles/izitoast/js/iziToast.min.js' %}"></script>
<!-- datatable-->
<script src="{% static 'backend/assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
<script src="{% static 'backend/assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
<script src="{% static 'toastr.js' %}"></script>
<script src="{% static 'backend/assets/bundles/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'backend/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
<script src="{% static 'backend/assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>

<!-- Template JS File -->
<script>
    $('table').dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
   
</script>
<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>
</body>
</html>
